<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div>
  <img src="{{ url_for("punch.video_detection") }}" width="100%" height="1300px">
</div>
<div id="compete">
<div class="choose">
  <input style="margin-left:20%" id="start" type="button" value="开始" v-on:click="start1">
  <input id="stop" type="button" value="停止" class="end" v-on:click="end1">
</div>
<div class="res">
  训练时间：<span id="id_M">01</span>
  <span>:</span>
  <span id="id_S">00</span>
</div>

</div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/axios-0.18.0.js"></script>
<script>
        new Vue({
        el:"#compete",
        data(){
            return{
                number:-1
            }
        },
        methods:{
            start1(){
              axios.get('/record/start',{
              }).then(function (res){
              })
            },
            end1(){
              axios.get('/record/stop',{
              }).then(function (res){
                    this.number=res.data.data
                  alert(this.number)
                    axios.post('/record/compete',{
                       Number:this.number
                    }).then(function (res) {
                   if(res.data.message=="打卡成功！"&&res.data.code==200)
                       alert("打卡成功！")
                   else
                        alert("打卡失败！")
                    location.href="{{url_for("user.compete_index") }}"
                    })
              })
            }
        },
        mounted(){
        }
    })
        function $(id) {
          return document.getElementById(id)
        }
        window.onload = function() {
          //点击开始建 开始计数
          var count = 60
          var timer = null //timer变量记录定时器setInterval的返回值
          $("start").onclick = function() {
            timer = setInterval(function() {
              if(count===0){
                clearInterval(timer)
                axios.get('/record/stop',{
              }).then(function (res){
                location.href="{{url_for("user.index") }}"
              })
              }
        count--;
        $("id_S").innerHTML = showNum(count % 60)
        $("id_M").innerHTML = showNum(parseInt(count / 60) % 60)
      }, 1000)
    }
    $("pause").onclick = function() {
      //取消定时器
      clearInterval(timer)
    }
    //停止记数  数据清零  页面展示数据清零
    $("stop").onclick = function() {
      //取消定时器
      $("pause").onclick()
      // clearInterval(timer)
      count = 0
      $("id_M").innerHTML = "01"
      $("id_S").innerHTML = "00"
    }

    //封装一个处理单位数字的函数
    function showNum(num) {
      if (num < 10) {
        return '0' + num
      }
      return num
    }
  }
</script>
<style>
  .choose{
    margin-left: 15%;
    margin-top: 10%;
  }
  input{
    height: 70px;
    width: 150px;
    font-size: 40px;
  }
  .stop{
    margin-left: 12%;
  }
  .end{
    margin-left: 12%;
  }
  .res{
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
  }

</style>
</html>